<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Discover why civilization faces collapse through declining birthrates and cultural decay. The Death of Humanity offers a complete guide to choosing life."
          name="description"/>

    <!-- Favicon -->
    <link href="images/population_icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="images/population_icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="images/population_icons/favicon-64x64.png" rel="icon" sizes="64x64" type="image/png">
    <link href="images/population_icons/population_favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Theme Color -->
    <meta content="#0b0c10" name="theme-color">

    <!-- Open Graph -->
    <meta content="Population Diminishing Over Time" property="og:title">
    <meta content="Explore the complete guide to the global population collapse. Learn why choosing life is the only path forward for humanity’s future."
          property="og:description"/>
    <meta content="website" property="og:type">
    <meta content="https://koko-dev.github.io/population-diminishing/" property="og:url">
    <meta content="https://koko-dev.github.io/population-diminishing/images/population_icons/population_og_starter.png"
          property="og:image">

    <!-- Twitter Card -->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="Population Diminishing Over Time" name="twitter:title">
    <meta content="Discover the warning signs of global population collapse — and why choosing life is humanity's greatest hope."
          name="twitter:description"/>
    <meta content="https://koko-dev.github.io/population-diminishing/images/population_icons/population_og_starter.png"
          name="twitter:image">

    <!-- Mobile Optimization -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="mobile-web-app-capable">

    <!-- Author and Copyright -->
    <meta content="Koko-Dev" name="author">
    <meta content="© 2025 Koko-Dev. All rights reserved." name="copyright">

    <!--    Ownership -->
    <meta content="hQZBI8bjXOJqligqiy3l4T3AgFrmvCxU2cDG0SncjLA" name="google-site-verification"/>

    <!-- Fast Modern Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <!-- Link to CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!--    Manifest -->
    <link href="manifest.json" rel="manifest">

    <title>The Death of Humanity: A Silent Collapse | Understanding the Global Population Crisis</title>
</head>